*{
    margin: 0% ;
    padding: 0%;
}

.content{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

label { width: 5em; } 


/*/////////////////////////////////////////// Header y NAV */
header{   
    height:25vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.headerInferior {
    background-color: #FCFCFE;
    height: 100%;
    width: 100%;
    display: flex; 
}

.navInformativa{
    display: flex;
    background-color: steelblue;
    height: 30%;
    width: 100%;
}

.navInformativa a{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #FCFCFE;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navInformativa img{
    height: 1.5em;
    width: 1.5em;
}

.titulo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:steelblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav{
    display: flex;
    
    max-width: 100vw ;
    height: 50%;
    background-color: #FCFCFE;
    
}

#navA{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}
 

.nav a{
    color: steelblue;
}
/*//////////////////////////////////////////////////
index*/

.indexGeneral{
    min-height: 100vh;
    max-width: 100vw;
    
}

.index1Main{
    width: 100%;
    height: 30%;
}


.index2Main{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.index2Main1{
    min-height: 100%;
    width: 50%;
}

.index2Main2{
    height: 100%;
    width: 50%;
    
}

.index2Main2Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.index2Main2Div p{
    width: 100%;
}

.index3Main1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}



/*////////////////////////////////////////////////FOOTER*/

footer{
    height: 25vh;
    max-width: 100%;
    display: flex;  
    background-color: steelblue;
}


.footer1{
    width: 33%;
    height: 100%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.footer2{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    
}



.footer3{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.footerA{
    color:white;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
}


footer span{
    color: white;
    size: 2em;
}

/*////////////////////////////////////////////////////// JUGUETES.html FARMACIA.html*/



.seccionPrincipalProductos{
    background-color: white;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: mintcream;
}

.navCarrito{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    padding-right: 5rem;
}



.IndexCatalogo{
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    gap: 5em;
    margin:2em 0 5em 0;
}

.seccionfiltros{
    width: 15%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid grey 0.1em;
    padding: 0.5em;
}
.seccionCartas{
    width: 85%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    
}
.divFiltros{
    display: flex;
    align-items: center;
    gap: 0.2em;
}




/*///////////////////////////////////////////////// CONTACTENOS.HTML*/

.mainContactenos{
    height: 70%;
    width: 100%;
    background-position:center;
    display: flex;
    flex-direction: column;
    background-image: url('../img/Fondo.jpg');
    align-items: center;
}

.mainFormulario{
    height: 50%;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:steelblue;
    opacity: 0.8;
    margin:1rem;
}

.formDiv div{
    display: flex;
    height: 70%;
    max-width: 100%;
    margin: 0.5rem;
    color:white;

}


/*////////////////////////////  CARRITO  /////////////////////////////////*/

.indexCarrito{
    min-height: 80vh;
    min-width: 90vw;
    display: flex;
    justify-content: space-around;
    border: 25rem;
    padding: 2rem;
    background-color: mintcream;
}

.tabla{
    min-height: 80%;
    width: 75%;
}

.divFinalizarCompra{
    min-height: 80%;
    width: 20%;
}

.divVaciarCarrito{
    display: flex;
    justify-content: flex-end;
}

.formCarrito{
    display: flex;
    justify-content: flex-end;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*/////////////////////////////////////////////////////////////   @mediaQuery ////*/
/*/////////////////////////////////////////////////////////////   @mediaQuery ////*/
/*/////////////////////////////////////////////////////////////   @mediaQuery ////*/
/*/////////////////////////////////////////////////////////////   @mediaQuery ////*/

@media screen and (max-width: 700px) {


/*//////////////////////////INDEX.HTML////////////*/
    .nav{
        width: 100vw;
        height: 50%;
        background-color: #FCFCFE;
        
    }

    .index1Main{
        width: 100%;
        height: 100%;
    }

    

    .index2Main{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 100%;
        
    }

    .index2Main1{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .index2Main2{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .index3Main1{
        display: flex;
        flex-direction: column;
    }

    .index3Main1{
        display: flex;
        width: 100%;
        padding: 0;
        
        
    }
    

   #navA{
       display: flex;
       width: 100%;
       justify-content: center;
   }

   /*/////////////////////////// FARMACIA , JUGUETES ///////////////*/

.IndexCatalogo{
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
    margin:2em 0 5em 0;
}

.seccionfiltros{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid grey 0.1em;
    padding: 0.5em;
}
.seccionCartas{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    
}
.navCarrito{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-right: 5rem;
}
.indexCarrito{
    min-height: 80vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: mintcream;
    border: 0;
    padding: 0;
    gap:3rem;
}



.tabla{
    min-height: 80%;
    width: 100%;
}

.divFinalizarCompra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:4rem;
    width: 100%;
}

thead {
    display: none;
}

/*////////////////////////contactenos subscribite////////////*/

.mainContactenos{
    min-height: 90vh;
    max-width: 100%;
    background-position:center;
    display: flex;
    background-image: url('../img/Fondo.jpg');
}

.mainFormulario{
    min-height: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:steelblue;
    opacity: 0.8;
    
      
}

.formDiv div{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1rem;
    color:white;
}



/*////////////////////FOOTER/////////////////*/

footer  span{
    color: white;
    font-size: small;
}
.footerA{
    color:white;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
.footer1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    
}

